body, html {
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-size: 14px;
  /* background-color: #C7EBF0; */
}

.instructions .container h1 {
  font-size: 65px;
  font-weight: 600;
  text-shadow: 2px 2px lightgray;
  text-align: center;
}

.instructions {
  background-color: #BFD5E2;
  /* background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 27%,#9fd8ef 52%,#2ab0ed 100%); */
  color: black;
  padding-top: 15px;
  height: 100%
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color:#0277BD;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}

/* These are for the a links I addded for site navigation */
.navLink:link, .navLink:visited {
  background-color: #B1B5C8;;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

img
{
    max-width: 100%;
    /* min-width: 300px; */
    height: auto;
}

md-toast {
  position: fixed !important;
}

.floated {
  /* float:left;
  margin-right:5px; */
  background-color: #B1B5C8;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  display:inline-block;
}

#menuButton{
  background-color: #B1B5C8;
  display:block; 
  width:20%; /* setting the width */
  margin:0 auto;
  position:relative;
  /* float: right; */
}

#addButton{
  background-color: #B1B5C8;
  color: black;
  border-radius: 10px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display:block; /* change this from inline-block */
  width:20%; /* setting the width */
  margin:0 auto;
  position:relative;
}

#blargButtons {
  text-align: center;
}

.odd {
  background-color: #f1f1f1;
}
/* .even {
  background-color: #CADEE4
} */

/* .allListingInfo {
  background-color: #C7EBF0;
}

#addInfo {
  background-color: #C7EBF0;
} */
