<div class="instructions">
    <div class="container">
        <h1 class="lead">CruiseMN</h1>
    </div>
</div>

        <!-- <div id="sideNavContainer" layout="row" ng-cloak>
            <md-content>
                <md-button ng-click="mc.openRightMenu()">Open Right Menu</md-button>
            </md-content>

            <md-sidenav md-component-id="right" class="md-sidenav-right">
                <md-button href="#/user" name="user">User Home</md-button>
                <md-button href="#/skatepaths" name="skatepaths">Path List</md-button>
                <md-button href="#/new" name="new">Add New Path</md-button>
                <md-button class="btn btn-default" ng-click="mc.userService.logout()">Log Out</md-button>
            </md-sidenav>
        </div> -->
