<div ng-include="'views/partials/nav.html'"></div>
<h1>Post New Path!</h1>
<div layout-padding>
<div ng-controller="PathController as pc" >
    <md-input-container class="md-block">
        <label for="name">Path Name:</label>
        <input type="text" ng-model="pc.newPath.name" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="address">Address:</label>
        <input type="text" ng-model="pc.newPath.address"/>
        <!-- places-auto-complete size=80 on-place-changed="pc.placeChanged()" -->
    </md-input-container>
    <md-input-container class="md-block">
        <label for="length">Length:</label>
        <input type="text" ng-model="pc.newPath.length" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="pavement">Pavement Condition:</label>
        <input type="text" ng-model="pc.newPath.pavement" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="difficulty">Difficulty:</label>
        <input type="text" ng-model="pc.newPath.difficulty" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="crowds">Best Time To Go:</label>
        <input type="text" ng-model="pc.newPath.crowds" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="notes">Other Notes:</label>
        <input type="text" ng-model="pc.newPath.notes" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="map">Parking Latitude:</label>
        <input type="real" ng-model="pc.newPath.latitude" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="map">Parking Longitude:</label>
        <input type="real" ng-model="pc.newPath.longitude" />
    </md-input-container>
    <md-input-container class="md-block">
        <label for="photos">Photos:</label>
        <input type="button" value="Upload" ng-click="pc.showPicker()" />
    </md-input-container>
    <div id="blargButtons">
    <a class="floated" href="#skatepaths">Back</a>
    <div  class="floated" type="submit" ng-click="mc.showToast($event);pc.postNewPath(pc.newPath)">Add</div>
    </div>
</div>
</div>




