<md-content>
<div ng-include="'views/partials/nav.html'"></div>
<br>
<!-- {{ pc.paths.path }} -->
<br>
<div class="allListingInfo" layout="column">
    <ng-map default-style="true" id="all_map" center="current-position" zoom="6">
        <marker id="{{path.id}}" position="{{path.latitude}}, {{path.longitude}}" ng-repeat="path in pc.paths.list" on-click="pc.showDetail(path)">
        </marker>
        <info-window id="foo-iw">
            <div ng-non-bindable="">
                {{pc.paths.path.name}}
                <br> {{pc.paths.path.address}}
                <br>
                <p>Get Directions Here:
                    <a href="http://www.google.com/maps/dir/{{pc.paths.path.latitude}},{{pc.paths.path.longitude}}">
                        http://www.google.com/maps/dir/{{pc.paths.path.latitude}},{{pc.paths.path.longitude}}
                    </a>
                </p>
            </div>
        </info-window>
    </ng-map>


    <p>Search Listings: <input type="text" placeholder="ex. Stillwater" ng-model="search"></p>

    <table>
        <thead>
            <tr>
                <th>Path Title</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="path in pc.paths.list | filter:search">
                <td><a ng-href="#/specific/{{path.id}}">{{path.name}}</a></td>
                <td>{{path.address}}</td>
                <td>
                    <div ng-click="pc.updateUpRating(path)">{{path.up_rating}}<i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                    <div ng-click="pc.updateDownRating(path)">{{path.down_rating}}<i class="fa fa-thumbs-down" aria-hidden="true"></i></div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<br>
<br>
<a class="navLink" href="#new">Post New Path</a>
<br>
<br>
<br>
<!-- <div ng-controller="UserController as uc">
        <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div> -->
</md-content>