<div ng-include="'views/partials/nav.html'"></div>
<br>
<br>
<!-- <a href="#new">Post New Path</a> -->
<div class="allListingInfo" layout="column">
    <h1>GOOGLE MAP</h1>
    <h1>FILTER BAR</h1>
    <table>
        <thead>
            <tr>
                <th>Path Title</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="path in pc.paths.list">
                <td><a ng-href="#/specific/{{path.id}}">{{path.name}}</a></td>
                <td>{{path.address}}</td>
                <td>{{path.rating}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <ng-map zoom="11" center="[0,0]">
    <shape id="circle" name="circle" centered="true" stroke-color='#FF0000' stroke-opacity="0.8" stroke-weight="2" center="current-position"
        radius="4000" editable="true"></shape>
</ng-map> -->
<ng-map center="46.3348, -95.6647" zoom="4">
    <marker position="46.3348, -95.6647" title="Glendalough"></marker>
    <marker position="44.9354, -93.0286" title="Battle Creek"></marker>
    <marker position="45.0805, -92.8970" title="Hello World!"></marker>
</ng-map>