<div ng-include="'views/partials/nav.html'"></div>
<br>
<br>
<!-- <a href="#new">Post New Path</a> -->
<div class="allListingInfo" layout="column">
    <h1>GOOGLE MAP</h1>
    <h1>FILTER BAR</h1>
    <table>
        <thead>
            <tr>
                <th>Path Title</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="path in pc.paths.list">
                <td><a ng-href="#/specific/{{path.id}}">{{path.name}}</a></td>
                <td>{{path.address}}</td>
                <td>{{path.rating}}</td>
            </tr>
        </tbody>
    </table>
</div>