<div ng-include="'views/partials/nav.html'"></div>
<div ng-app="myApp" ng-controller="SpecificController as sc">
    <table ng-repeat="path in sc.currentPath.details">
        <tr>
            <th>Path Title</th>
            <td>{{path.name}}</td>
        </tr>
        <!-- <tr>
            <th>Photos</th>
            <td>{{path.photos}}</td>
        </tr> -->
        <tr>
            <th>Address</th>
            <td>{{path.address}}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{path.rating}}
                <button ng-click="sc.updateUpRating(path)">{{path.up_rating}}<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                <button ng-click="sc.updateDownRating(path)">{{path.down_rating}}><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th>Length</th>
            <td>{{path.length}}</td>
        </tr>
        <tr>
            <th>Pavement</th>
            <td>{{path.pavement}}</td>
        </tr>
        <tr>
            <th>Difficulty</th>
            <td>{{path.difficulty}}</td>
        </tr>
        <tr>
            <th>Crowds</th>
            <td>{{path.crowds}}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{path.notes}}</td>
        </tr>
    </table>
    <br>
    <ng-map default-style="true" id="specific_map" center="46.3348, -95.6647" zoom="6">
        <marker id="{{path.id}}" position="{{path.latitude}}, {{path.longitude}}" 
        ng-repeat="path in sc.currentPath.details" on-click="sc.showDetail(path)">
        </marker>
        <info-window id="boo-iw">
            <div ng-non-bindable="">
                {{sc.paths.path.name}}
                <br>
                <p>Get Directions Here:
                    <a href="http://www.google.com/maps/dir/{{sc.paths.path.latitude}},{{sc.paths.path.longitude}}">
                            http://www.google.com/maps/dir/{{sc.paths.path.latitude}},{{sc.paths.path.longitude}}
                        </a>
                </p>
            </div>
        </info-window>
    </ng-map>
    <br>
    <!-- {{sc.currentPath.details}}
    {{sc.currentPath.details[0].id}} -->
    <button ng-click="sc.deletePath(sc.pathID)">Delete Path</button>
    <a class="navLink" href="#skatepaths">Back to Listings</a>
    <br>
    <br>
</div>