<div ng-include="'views/partials/nav.html'"></div>
<div ng-app="myApp" ng-controller="SpecificController as sc">
    <h1>Specific Page</h1> 
    <table ng-repeat="path in sc.currentPath.details">
        <tr>
            <th>Path Title</th>
            <td>{{path.name}}</td>
        </tr>
        <tr>
            <th>Photos</th>
            <td>{{path.photos}}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{path.address}}</td>
        </tr>
        <tr>
            <th>Rating</th>
            <td>{{path.rating}}
                <button ng-click="sc.updateUpRating(path)">{{path.up_rating}}<i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                <button ng-click="sc.updateDownRating(path)">{{path.down_rating}}><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
            </td>
        </tr>
        <tr>
            <th>Length</th>
            <td>{{path.length}}</td>
        </tr>
        <tr>
            <th>Pavement</th>
            <td>{{path.pavement}}</td>
        </tr>
        <tr>
            <th>Difficulty</th>
            <td>{{path.difficulty}}</td>
        </tr>
        <tr>
            <th>Crowds</th>
            <td>{{path.crowds}}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{path.notes}}</td>
        </tr>
        <tr>
            <th>Map</th>
            <td>{{path.map}}</td>
        </tr>
    </table>
    <!-- {{sc.currentPath.details[0].name}} -->
    <br>
    <br>
    <button ng-click="show = !show">Update this Path</button>
    <a class="navLink" href="#skatepaths">Back to Listings</a>

    <form ng-show="show" ng-submit="submitForm()">
        <div>
            <label for="name">Path Name:</label>
            <input ng-model="sc.path.name" id="name">
        </div>
        <div>
            <label for="photos">Photos:</label>
            <!-- <input type="text" ng-model="pc.newPath.name" id="name"> -->
        </div>
        <div>
            <label for="address">Address:</label>
            <input ng-model="sc.path.address" id="address">
        </div>
        <div>
            <label for="rating">Rating:</label>
            <!-- <input type="text" ng-model="pc.newPath.name" id="name"> -->
        </div>
        <div>
            <label for="length">Length:</label>
            <input ng-model="sc.path.length" id="length">
        </div>
        <div>
            <label for="pavement">Pavement Condition:</label>
            <input id="pavement" ng-model="sc.path.pavement"></textarea>
        </div>
        <div>
            <label for="difficulty">Difficulty:</label>
            <input id="difficulty" ng-model="sc.path.difficulty"></textarea>
        </div>
        <div>
            <label for="crowds">Best Time To Cruise:</label>
            <input id="crowds" ng-model="sc.path.crowds"></textarea>
        </div>
        <div>
            <label for="notes">Other Notes:</label>
            <input id="notes" ng-model="sc.path.notes"></textarea>
        </div>
        <div>
            <label for="map">Parking:</label>
            <!-- <input type="text" ng-model="pc.newPath.name" id="name"> -->
        </div>
        <input type="submit">
    </form>
</div>