<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>

    <img id="home" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUPI9OOMtGGm2vXL2CtORh3WYexaEym59BvCLkJrfudw-vDio0_Q">
</div>
<h2>Everything you need to know about the best longboarding paths in MN:</h2>
    <ul>
        <li>Specific Directions/Length</li><br>
        <li>Pavement Conditions- smoothness, cracks, bumps, potholes</li><br>
        <li>Difficulty- hills, curves</li><br>
        <li>Crowds- busy times, best time to go</li><br>
        <li>Any additional notes that are good to know before you go!</li><br>
    </ul>
    <br>
<div id="blargButtons" class="buttonOptions">
    <a class="navLink" href="#skatepaths">Find A Path</a>
     <a class="navLink" href="#new">Post New Path</a>
</div>


    
