<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

    <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
    <button class="btn btn-default" ng-click="uc.userService.logout()">Log Out</button>
</div>
<h2>Welcome to CruiseMN! Feel free to take a look through the listing of paths or post one of your own. Details include:</h2>
    <ul>
        <li>Specific Parking Directions/Latitude & Longitude of exactly where to go</li>
        <li>Length of path</li>
        <li>Pavement Conditions- smoothness, cracks, bumps, potholes</li>
        <li>Difficulty- hills, curves</li>
        <li>Crowds- busy times, best time to go</li>
        <li>Any additional notes that are good to know before you go!</li>
    </ul>
<div class="buttonOptions">
     <a class="navLink" href="#new">Post New Path</a>
     <a class="navLink" href="#skatepaths">Find A Path</a>
</div>
